<!DOCTYPE html>
<head>
    <title>Tridib Das</title>
    <meta name="viewport" content="width=device-width">
    <link rel = "stylesheet" href="../static/styleNew.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Space+Mono&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <ul class="nav-li-flex">
            <li> <a href="achivements.html", style="text-decoration:none; color: whitesmoke;">Achievements</a></li>
            <li> <a href="https://zenxt.data.blog/", style="text-decoration:none; color: whitesmoke;">Blog</a></li>
            <li> <a href="https://github.com/dastkd69", style="text-decoration:none; color: whitesmoke;">Github</a></li>
            <li> <a href="/", style="text-decoration:none; color: whitesmoke;">Home</a></li>
        </ul>
    </nav>
    <section class="nameBlock", id = "nameBlock">
        <h1><span style="color:whitesmoke">tkd</span><span style="color:rgba(161, 255, 20, 0.8)">.is()</span><br> <span id = "nameTag">Tridib Das</span></h1>
        <h3>A 18yo programmer and mechanic.</h3>
        <span class="transition1"><button><a href="#skill">Continue</a></button></span>
    </section>
    <div id="skill">
        <h2><span style="color:whitesmoke">tkd</span><span style="color:rgba(161, 255, 20, 0.8)">.knows()</span></h2> 
        <span class="transition2"><button><a href="#skillBlock">Continue</a></button></span>
    </div>
    <section class="skillBlock", id = "skillBlock">
        <div class = "skill-card">
            <div class="left-pane">
                <div class="card">
                    <div class="card-text">
                        <div class="card-title">
                            <a href= "https://github.com/dastkd69/Scripts-Repo">Languages</a>
                        </div>
                        <ul>
                            <li>Python</li>
                            <li>Rust</li>
                            <li>C/C++</li>
                            <li>Java</li>
                            <li>C#</li>
                            <li>Bash</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="right-pane">
                <div class="card">
                    <div class="card-text">
                        <div class="card-title">
                            <a href= "https://github.com/dastkd69/Scripts-Repo">domain("Low Level")</a>
                        </div>
                        <ul>
                            <li>Emulators</li>
                            <li>Compilers</li>
                            <li>OSs</li>
                            <li>Vulkan and GL</li>
                            <li>Simulations</li>
                            <li>Microprocessors</li>
                        </ul>
                    </div>
                </div>
                <div class="card">
                    <div class="card-text">
                        <div class="card-title">
                            <a href= "https://github.com/dastkd69/Scripts-Repo">domain("Data Technologies")</a>
                        </div>
                        <ul>
                            <li>ML</li>
                            <li>DNNs</li>
                            <li>NASearch</li>
                            <li>Computer Vision</li>
                            <li>NLP</li>
                            <li>GANs</li>
                        </ul>
                    </div>
                </div>
                <div class="card">
                    <div class="card-text">
                        <div class="card-title">
                            <a href= "https://github.com/dastkd69/Scripts-Repo">domain("Web Technologies")</a>
                        </div>
                        <ul>
                            <li>Servers</li>
                            <li>NGINX</li>
                            <li>WSGIs</li>
                            <li>Web Assembly</li>
                            <li>Web Apps</li>
                            <li>Networking</li>
                        </ul>
                    </div>
                </div>
                <div class="card">
                    <div class="card-text">
                        <div class="card-title">
                            <a href= "https://github.com/dastkd69/Scripts-Repo">domain("Auxilliary Skills")</a>
                        </div>
                        <ul>
                            <li>Linux</li>
                            <li>Raspberry Pi</li>
                            <li>Microcontrollers</li>
                            <li>Robotics</li>
                            <li>UAVs</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <span class="transition3"><button style="margin-top: 6vh;"><a href="#work">Continue</a></button></span> 
    </section>
    <div id="work">
        <h2><span style="color:whitesmoke">tkd</span><span style="color:rgba(161, 255, 20, 0.8)">.get('Highlights')</span></h2>
        <span class="transition2"><button><a href="#workBlock">Continue</a></button></span> 
    </div>
    <section class="workBlock", id = "workBlock">
        <div class="projects">
            <div class="card">
                <img src="./../static/pics/NESRemu.jpeg">
                <div class="card-text">
                    <div class="card-title">
                        <a href= "https://github.com/dastkd69/NESRemu">NESRemu</a>
                    </div>
                    <div class="card-subtext"> A toy emulator built in Rust that is terrible at emulating Nintendo NES games.</div>
                </div>
            </div>
            <div class="card">
                <img src="./../static/pics/SyncOS.png">
                <div class="card-text">
                    <div class="card-title">
                        <a href= "https://github.com/dastkd69/SyncOS">SyncOS</a>
                    </div>
                    <div class="card-subtext"> An OS-like interface to your personal storage server through your browser. </div>
                </div>
            </div>
            <div class="card">
                <img src="./../static/pics/bubblepod.png">
                <div class="card-text">
                    <div class="card-title">
                        <a href= "https://github.com/MSCKIIT/BubblePod-Backend">BubblePod</a>
                    </div>
                    <div class="card-subtext"> A matchmaking app that brings together various students of similar interests.</div>
                </div>
            </div>
            <div class="card">
                <img src="./../static/pics/scripts.jpeg">
                <div class="card-text">
                    <div class="card-title">
                        <a href= "https://github.com/dastkd69/Scripts-Repo">Scripts-Repo</a>
                    </div>
                    <div class="card-subtext"> Repository for all my nifty, handy little scripts to ease life ig?</div>
                </div>
            </div>
        </div>
        <span class="transition3"><button><a href="#blogBlock">Continue</a></button></span>
        <!-- <span id = "workTag">Can't fit more :3</span></h5> -->
    </section>
    <section class="blogBlock" id="blogBlock">
        <h2><span style="color:whitesmoke">tkd</span><span style="color:rgba(161, 255, 20, 0.8)">.get('LatestPosts')</span><br>
        <span id = "workTag">I write(read rant)here.</span></h5>
    </section>
</body>
</html>
