html{
  scroll-behavior: smooth;
  max-width: 100vw;
  max-height: 100vh;
  margin: 0;
}

@font-face {
    font-family: 'ponde';
    src: url('fonts/ponde.tff') format("truetype");
  }
  
@font-face {
  font-family: 'RetroGaming';
  src: url('fonts/RetroGaming.tff') format("truetype");
}
  
/* scrollbar*/

::-webkit-scrollbar {
  background: rgba(0, 107, 56, 0.25);
}

/* Track */

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1rem grey;
  border-radius: 2rem;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: rgba(0, 107, 56, 0.6);
}

body {
  font-family: 'RetroGaming';
  background: url("../static/pics/bgART.jpg");
  background-attachment: fixed;
  background-color: rgba(16, 24, 32, 0.8);
  display: flex;
  flex-direction: column;
  height:100%;
  overflow: hidden;
}

nav {
  position: fixed;
  overflow: hidden;
  background-color: rgba(2, 37, 20, 0.1);
  box-shadow: 1.5rem;
  display: flex;
  flex-direction: row;
  font-family: 'ponde';
  align-items: right;
  justify-content: space-around;
  align-content: space-around;
  width: 100%;
}

.nav-li-flex {

  align-self: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  list-style-type: none;
  margin-left: 53.5rem;

  li {
    text-shadow: 2px 2px 5px black;
    align-self: flex-end;
    justify-self: flex-end;
    padding: 0.2rem 0.8rem 0rem 0.8rem;
    padding-top: 0.8rem;

    :hover {
      background: rgba(161, 255, 20, 0.6);
      color: whitesmoke;
    }
    
    a {
      color: whitesmoke;
      text-decoration: none;
      padding: 0.8rem;

      &:hover, &:visited, &:link, &:active {
        text-decoration: none;
      } 
    }
  }
}

h4 {
  font-family: 'Space Mono';
  font-size: 1.8rem;
  line-height: 1rem;
  letter-spacing: 0rem;
  text-align: right;
  padding-left: 1rem;
  margin-top: 0rem;
  padding-top: 0rem;
  color: whitesmoke;

  /*color: rgba(161, 255, 20, 0.8);*/
}

h2 {
  font-size: 4rem;
  color: rgba(161, 255, 20, 0.8);
  text-align: right;
}

.nameBlock {
  /*font-family: 'Press Start 2P', cursive;*/
  color: whitesmoke;
  align-self: left;
  justify-self: center;
  margin-top: 15rem;
  margin-left: 12rem;
  letter-spacing: 0.5rem;
  text-shadow: 3px 3px 8px black;
  text-align: left;
}

.skillBlock, .workBlock, .blogBlock {
  margin-top: 220vh;
  margin-right: 5rem;
  align-self: center;
  justify-self: center;
  text-shadow: 3px 3px 8px black;
  animation: fadeIn 4s ease;
}

#nameTag {
  color: rgba(161, 255, 20, 0.8);
  font-size: 4rem;
}

#skill{
  margin-top: 120vh;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: 30vw;
  margin-right: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2{
    margin-top: 45vh;
    margin-bottom: 10vh;
  }
}

#work{
  margin-top: 120vh;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: 35vw;
  margin-right: 35vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2{
    margin-top: 45vh;
    margin-bottom: 10vh;
  }
}

.skillBlock {
  
  #skillTag{
    color: rgba(161, 255, 20, 0.8);
    font-size: 1.8rem;
  }
  h4 {
    font-size: 1.8rem;
  }
  
  h2 {
    font-size: 3rem;
    color: rgba(161, 255, 20, 0.8);
    text-align: right;
  }
}

#workTag {
  color: rgba(161, 255, 20, 0.8);
  font-size: 2.2rem;
  margin-top: 3vh;
  margin-left: 20vw;
}



h1 {
  font-family: 'RetroGaming';
  font-size: 3.5rem;
  letter-spacing: 0.5rem;
}

h3 {
  font-family: 'Space Mono';
  font-size: 1.8rem;
  line-height: 1rem;
  letter-spacing: 0rem;
  text-align: left;
  padding-left: 1rem;
  margin-top: 0rem;
  padding-top: 0rem;
  color: whitesmoke;

  /*color: rgba(161, 255, 20, 0.8);*/
}

h5 {
  font-family: 'RetroGaming';
  font-size: 4rem;
  text-align: center;
}


.skill-card{
  display: flex;

  .left-pane{
    margin-top: 2rem;
    .card {
      display: flex;
      flex-direction: column;
      font-size: 1rem;
      color: whitesmoke;
      overflow: hidden;
      border: 0.2rem solid rgba(11, 11, 11, 0.80);
      margin-right: 1.5rem;
      margin-left: 1.5rem;
      margin-top: 5rem;
      
      .card-text {
        background-color: rgba(11, 11, 11, 0.80);
        padding: 3rem;
        text-align: center;
        align-items:center;
        max-width: 20rem;
    
        .card-title {
          font-size: 1.5rem;
          padding-top: 1rem;
    
          a {
            text-decoration: none;
            font-size: 2.2rem;
            color: rgba(161, 255, 20, 0.8);
          }
        }
    
        ul{
          padding-top: 0.3rem;
          display: flex;
          flex-direction: column;
          text-align: left;

          li {
            text-decoration: none;
            list-style-type: none;
            padding-top: 3rem;
            font-size: 1.5rem;
          }
        }
      }
    }
  }

  .right-pane{
    margin-top: 3.5rem;
    .card {
      display: flex;
      flex-direction: column;
      font-size: 1rem;
      color: whitesmoke;
      overflow: hidden;
      border: 0.2rem solid rgba(11, 11, 11, 0.80);
      margin-right: 1.5rem;
      margin-left: 1.5rem;
      margin-top: 1.5rem;
      
      .card-text {
        background-color: rgba(11, 11, 11, 0.80);
        padding: 1.5rem;
        text-align: left;
        align-items:left;
    
        .card-title {
          font-size: 1.25rem;
    
          a {
            text-decoration: none;
            font-size: 1.6rem;
            color: rgba(161, 255, 20, 0.8);
          }
        }
    
        ul{
          padding-top: 0.3rem;
          display: flex;
          text-align: left;

          li {
            text-decoration: none;
            list-style-type: none;
            padding: 0.5rem;
            font-size: 1.3rem;
          }
        }
      }
    }
  }
}

.projects {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4rem;
  margin-top: 13vh;
  margin-left: 2vw;

  .card {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    color: whitesmoke;
    overflow: hidden;
    border: 0.2rem solid rgba(11, 11, 11, 0.80);
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    margin-top: 5rem;

    :hover{
      box-shadow: 1rem 1rem 1rem rgba(0,0,0, 0.6);
    }
    
    .card-text {
      background-color: rgba(11, 11, 11, 0.85);
      padding: 0.5rem;
      text-align: left;
      align-items:left;
      max-width: 20rem;
  
      .card-title {
        font-size: 1.5rem;
        padding-top: 0.8rem;
  
        a {
          text-decoration: none;
          color: rgba(161, 255, 20, 0.8);
        }
      }
  
      .card-subtext{
        padding-top: 0.3rem;
      }
    }
  
    img {
      max-width: 20rem;
      min-height: 18rem;
      max-height: 18rem;
    }
  }
}



h6{
    color: whitesmoke;
    text-align: center;
    font-size: 1.3rem;
    background-color: rgba(82, 119, 101, 0.1);
    padding: 4em 0.5rem 0.5rem 0.5rem ;
}

.transition1{
  position: absolute;
  z-index: 100;
  margin-top: 25vh;
  margin-left: 70vw;

  button {
    background: rgba(161, 255, 20, 0.8);
    padding: 0.5rem;
    font-family: 'RetroGaming';
    animation: blink 1.5s step-start 0s infinite;
    animation-delay: 1.5s;
    opacity: 0;
  }

  a {
    text-decoration: none;
    color: rgb(3, 0, 0);
    padding: 1rem;
  }
}

.transition2{
  margin-top: 25vh;
  margin-left: 80vw;

  button {
    background: rgba(161, 255, 20, 0.8);
    padding: 0.5rem;
    font-family: 'RetroGaming';
    animation: blink 1.5s step-start 0s infinite;
    animation-delay: 6s;
    opacity: 0;
  }

  a {
    text-decoration: none;
    color: rgb(3, 0, 0);
    padding: 1rem;
  }
}

.transition3{
  margin-left: 80vw;

  button {
    margin-top: 10vh;
    background: rgba(161, 255, 20, 0.8);
    padding: 0.5rem;
    font-family: 'RetroGaming';
    animation: blink 1.5s step-start 0s infinite;
    animation-delay: 1.5s;
    opacity: 0;
  }

  a {
    text-decoration: none;
    color: rgb(3, 0, 0);
    padding: 1rem;
  }
}

@keyframes blink {
  50% {
    opacity: 0.0;
  }

  100% {
    opacity: 1;
  }
}
